extends ../index.pug
block content
	div(class="container page-content")
		div(class="row")
			div(class="col-sm-6 text-center col-md-offset-3")
				div(class="panel panel-info")
					div(class="panel-heading")
						strong(class="panel-title") Se ha creado tu cuenta.
					div(class="panel-body")
						p Se ha enviado un email a tu correo con un link de verificación.
						p(class="text-danger") Si la cuenta no es verificada en 24 horas, será eliminada.
