extends ../index.pug
block content
	div(class="container page-content")
		div(class="row")
			div(class="col-sm-12 col-md-5 col-md-offset-3")
				h3 Registrarse
				form(class="form-horizontal" action="/e/signup" method="post")
					div(class="form-group")
						div(class="col-lg-12")
							label(for="nickname" class="control-label") Nombre de usuario
						div(class="col-lg-12")
							input(type="text" class="form-control" name="nickname" id="nickname" placeholder="Nombre de usuario" required="required")
							if error.nickname_exist
								span(class="text-danger") El nombre de usuario ya existe.
					div(class="form-group")
						div(class="col-lg-12")
							label(for="name" class="control-label") Nombre
						div(class="col-lg-12")
							input(type="text" class="form-control" name="name" id="name" placeholder="Nombre" required="required")
					div(class="form-group")
						div(class="col-lg-12")
							label(for="email" class="control-label") Correo electrónico
						div(class="col-lg-12")
							input(type="email" class="form-control" name="email" id="email" placeholder="Correo electrónico" required="required")
							if error.email_exist
								span(class="text-danger") El correo electrónico ya existe.
					div(class="form-group")
						div(class="col-lg-12")
							label(for="email" class="control-label") Confirma el correo electrónico
						div(class="col-lg-12")
							input(type="email" class="form-control" name="re_email" id="re_email" placeholder="Confirma el correo electrónico" required="required")
							if error.email_dont_match
								span(class="text-danger") Los correos no coinciden.
					div(class="form-group")
						div(class="col-lg-12")
							label(for="pwd" class="control-label") Contraseña
						div(class="col-lg-12")
							input(type="password" class="form-control" name="pwd" id="pwd" placeholder="Contraseña" required="required")
							if error.pwd_wrong
								span(class="text-danger") La contraseña debe ser alfanumérica (a-z, 0-9) y de almenos 6 caracteres.
					div(class="form-group")
						div(class="col-lg-12")
							label(for="pwd" class="control-label") Confirma la contraseña
						div(class="col-lg-12")
							input(type="password" class="form-control" name="re_pwd" id="re_pwd" placeholder="Confirma la contraseña" required="required")
							if error.pwd_dont_match
								span(class="text-danger") Las contraseñas no coinciden.
					div(class="form-group")
						div(class="col-lg-12")
							div(class="checkbox")
								label
									input(type="checkbox" required="required")
									span Acepto los #[a(href="/e/terms" target="_blank") Términos y Condiciones de Uso] de la plataforma.
					div(class="form-group")
						div(class="col-lg-12")
							button(id="signup_btn" class="btn btn-success") Registrarse
							a(href="/e/login" type="submit" class="btn pull-right") ¿Ya tienes una cuenta?