extends ./index.pug
block content
	div(class="container page-content")
		div(class="row")
			div(class="col-sm-12")
				h3 Términos y condiciones de uso de la plataforma Isamael Corp: e#[sup 3]
				hr
